@font-face {
    font-family: Amarante;
    src: url("fonts/Amarante-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Amarante', serif;
}
body {
    background: url(images/background.jpg) repeat left top;
}

#header {
    position: fixed;
    display: block;

    background: url("images/notebook.png") no-repeat;
    width: 1080px;
    height: 640px;

    right: 50%;
    margin-right: -540px;
}

#titleLabel {
    background: url("images/titleLable.png") no-repeat;

    width: 507px;
    height: 258px;

    margin: 0 auto;

    font-size: 72px;
    color: whitesmoke;
}

#titleLabel p {
    padding: 46px;
}

.form {
    width: 300px;
    height: 300px;
    padding: 60px 0 0 40px;

    font-size: 22px;

    background: url(images/sticky_note.png) no-repeat;
    position: absolute;    
}

.form h2 {
    display: block;
    width: 250px;
    text-align: center;
}

.form > form {
    width: 250px;
    padding-top: 10px;
}

#login-form input, #login-form button, #register input, #register button, #back {
    margin: 3px;
    padding: 5px;
    width: inherit;
    box-sizing: border-box;

    font-size: 16px;
    color: black;

    background-color: #fff8d2;
    border: 2px solid #aaa;
    border-radius: 6px;
}


#result {
    background: url("images/label.png") no-repeat;

    position: fixed;
    width: 256px;
    height: 36px;

    left: 0;
    top: 0;

    text-align: center;
    font-size: 18px;
}

#back {
    position: fixed;

    right: -300px;
    top: 430px;

    width: 256px;
    height: 64px;
    border: hidden;

    font-size: 24px;

    background: transparent url("images/back.png");

    transition: right 0.5s;
}

#button_register {
    position: fixed;
    
    right: -60px;
    top: 496px;
    
    width: 256px;
    height: 64px;

    background: transparent url(images/bookmark.png);
    border: hidden;
    
    transition: right 0.5s;
}

#button_register p {
    font-size: 28px;
    vertical-align: middle;
}

#register {
    position: fixed;

    background: transparent url(images/notepad_page.png);
    width: 850px;
    height: 1100px;

    font-size: 24px;
    color: black;

    right: 50%;
    margin-right: -425px;

    top: 2000px;
}

#register_form {
    width: auto;
    padding-top: 72px;
    padding-left: 160px;
    padding-right: 240px;
}

#register_form input, #register_form button {
    margin: 0;
    padding: 0;

    width: inherit;
    box-sizing: border-box;
}

#register_form input {
    background: transparent url("images/label.png");
    width: 256px;
    height: 36px;
    border: 0;
    float: right;
    padding: 0 32.5px;
    margin: -8px 0;
}

#register_form p {
    height: 73px;
}

#notebooks {
    height: auto;
    margin: 0 50px 50px;
}

.notebook_wrapper {
    background: orange;
    width: 400px;
    height: 600px;

    border-radius: 15px;

    margin: 25px;
    padding: 20px 20px 86px;
    display: inline-block;

    position: relative;
}

.notebook_container {
    height: inherit;
}

.page_text_form {
    height: auto;
}

.navigation {
    position: absolute;
    height: auto;
    top: 580px;
}

.page_num {
    display: inline-block;
    width: auto;
    min-width: 36px;
    background: #2d8ac7;
    border-radius: 8px;
    text-align: center;

    font-size: 18px;
}

.options_button {
    display: inline-block;
}

.options_panel {
    background: url("images/options_panel.png") no-repeat;

    width: 400px;
    height: 256px;

    position: absolute;
    top: 68px;

    z-index: 2;

    visibility: hidden;
}

h3>p {
    margin-bottom: 5px;
}


input, button {
    border: none;
    outline: none;
    text-decoration: none;
    padding: 8px;
    margin: 8px 0;
}

input:focus, button:focus {
    border: none;
    outline: none;
    padding: 8px;
    margin: 8px 0;
}

input[type="submit"] {
    background-color: #2d8ac7;
    border-radius: 6px;
    color: white;
}

input:hover, button:hover, .circleButton:hover, .regularButton:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

input, button, .circleButton, .regularButton {
    opacity: 1;
    filter: alpha(opacity=100);
}

#create_notebook {
    background: url("images/buttons/addNotebookButton64.png") no-repeat;
    width: 64px;
    height: 64px;

    position: fixed;
    bottom: 24px;
    right: 24px;

    z-index: 1;

    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#notebook_create_input {
    position: fixed;

    height: 64px;
    width: auto;

    line-height: 64px;
    right: -500px;
    bottom: 24px;

    z-index: 1;
}

#submit_create_notebook {
    float: left;
    background: url("images/buttons/submitNotebookName64.png") no-repeat;
    width: 64px;
    height: 64px;
    margin-right: 8px;
}

#notebook_name {
    float: left;
    background: url("images/labelLeft.png") no-repeat;
    width: 256px;
    height: 36px;

    vertical-align: middle;
    padding-left: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 8px;

    font-size: 22px;
    color: white;
}

#notebook_name::selection {
    background-color: #f4b759;
}

#save_changes {
    background: url("images/buttons/saveChanges64.png") no-repeat;

    position: fixed;
    width: 64px;
    height: 64px;

    right: 24px;
    bottom: 96px;

    z-index: 1;
}

/*#logout {*/
    /*background: url("images/buttons/logoutButton64.png") no-repeat;*/

    /*position: fixed;*/
    /*width: 64px;*/
    /*height: 64px;*/

    /*right: 24px;*/
    /*bottom: 168px;*/

    /*z-index: 1;*/
/*}*/

#user_options {
    background: url("images/buttons/accountOptions64.png") ;

    position: fixed;
    width: 64px;
    height: 64px;

    right: 24px;
    bottom: 168px;

    z-index: 1;
}

.indicator {
    background: url("images/labelGreen.png") no-repeat;

    position: fixed;
    width: 200px;
    height: 48px;

    margin-left: -100px;

    bottom: -48px;
    left: 50%;

    text-align: center;

    visibility: visible;

    font-size: 16px;
    color: black;
}

h2 { /*Style for notebook headers*/
    width: auto;
    background: #9c95f0;
    border-radius: 6px;
    padding: 4px;
}

#user_sidebar {
    position: fixed;
    width: 300px;
    height: 400px;

    background: #05c394;
    border-bottom-left-radius: 10px;

    top: -440px;
    right: 0;

    padding: 10px;

    z-index: 5;
}

#edit_password {
    width: 128px;
    height: auto;
}

.regularButton {
    background-color: #2d8ac7;
    border-radius: 6px;

    padding: 8px;
}

.color_picker {
    width: 28px;
    height: 28px;

    display: inline-block;
}

.color_picker:hover {
    outline: 1px solid salmon;
}